{% extends "base.html" %}

{% block content %}

{% if loggedin %}

<center><h2 class="secondary">Welcome to Pictophone!!!!</h2>
<div style="width:900px;">
<h3> Instructions</h3>
To start a game, think of a scenario you would like to see drawn, whether it be complex or simple. Here are some examples: <ul style="text-align:left;"><li> <b>Barack Obama dunks on one of his Congressman in a not-so-friendly basketball game.</b></li><li><b>A man trips on a log.</b> </li></ul>It's entirely up to you.
</div><br>

{% if reason %}
<b style="color:red">{{reason}}</b>
{% else %}
<br>
{% endif %}
<script type="text/javascript">
function setbg(color)
{
document.getElementById("scenario").style.background=color;
}
</script>
 <form class="pure-form" method="post">
   Arbitrary name (don't give the scenario away!):<input style="width:250px" type="text" name="name" placeholder="My Game!"> <i></i><br>
How many turns do you want your game to have?<select name="turns">
  <option value="7">7</option>
  <option selected value="9">9</option>
  <option value="11">11</option>
</select>
<br>
Start the game with user: <input style="width:250px" type="text" name="friend" placeholder="Friends Username"> <i></i><br>

<br>
        <textarea name="styled-textarea" id="scenario" onfocus="this.value=''; setbg('#e5fff3');" onblur="setbg('white')">Write your scenario here!</textarea><br><br>
	<input type="submit" name="submit" class="styled-button-input" value="Start"/> 
     </form>
{% else %}
<br><br><br>
	<center>
	<font size=5 face="License Plate">You are not logged in.<br>
	You will be automatically redirected to the login page in 3 seconds.</font>
	</center>
	<meta http-equiv="refresh" content="3;url=/login" />
	<br><br>
{% endif %}

{% endblock %}
