{% extends "base.html" %}

{% block content %}



<center><h2 class="secondary">Completed Games</h2>

{% if gamelist is defined %}
{% for x in gamelist %}
<a id="white" class="button-xlarge pure-button group-button" href="/game/{{x}}">{{x}}</a> <br>
{% endfor %}
{% endif %}

<h3 class="secondary">{{reason}}</h3>
{% for item in gameFax %}
{% if item[0] is odd %}
Sentence {{((item[0]/2)+0.5) | int}}:<b>{{item[1]}}{{item[2]}}</b><br>
{% else %}
<img src="{{item[2]}}"/><b>{{item[1]}}</b><br>
{% endif %}
  {% endfor %}


{% endblock %}
